BM_TOKEN=
BM_TEST_GAME=squad
BM_TEST_SERVER_ID=
BM_TEST_PLAYER_ID=
BM_TEST_IDENTIFIER_TYPE=steamID
BM_TEST_IDENTIFIER=

# Optional admin or mutation fixtures
BM_TEST_ORG_ID=
BM_TEST_BAN_ID=
BM_TEST_MUTATION_BAN_ID=
BM_TEST_BAN_LIST_ID=
BM_TEST_BAN_LIST_INVITE_ID=
BM_TEST_BAN_EXEMPTION_ID=
BM_TEST_NATIVE_BAN_ID=
BM_TEST_PLAYER_FLAG_ID=
BM_TEST_PLAYER_NOTE_ID=
BM_TEST_PLAYER_QUERY_ID=
BM_TEST_RESERVED_SLOT_ID=
BM_TEST_RCON_SERVER_ID=
BM_TEST_SESSION_ID=
BM_TEST_FRIEND_ORG_ID=
BM_ENABLE_MUTATION_TESTS=false
BM_CONFIRM_MUTATION_TESTS=
